@font-face {
    font-family: "Wesayopen";
    src: url("../Assets/Fonts/WesaysopersonaluseBold-L3oOZ.otf")
        format("opentype");
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    .pembungkushero h1 {
        font-size: 5rem !important;
    }
}

.pembungkushero {
    height: 130vh;
    width: 100vw;
    background-image: url(../Assets/Homebg.webp);
    background-size: 130vw 130vh;
    padding: 0px;
    overflow: hidden;
}

.pembungkushero h1 {
    font-family: wesayopen;
    font-size: 10rem;
    color: #ab3130;
}
