@font-face {
    font-family: "Title"; /* Specify the desired font-family name */
    src: url("../../public/fonts/akbaal/akbaal.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.bungkusan {
    background-image: url(../../public/Images/website3.jpg);
    background-size: cover;
    overflow: hidden;
}

.swiper {
    height: 100vh;
    overflow: visible;
    width: 100vw;
    margin-right: 70% !important;
}

.swiper-slide {
    display: flex;
    padding-right: 100px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.swiper-slide p {
    /* margin: auto; */
}

.infodivisi {
    display: list-item;
}

.juduldivisi h1 {
    font-family: Title;
    font-size: 3rem;
}

.swiper-slide img {
    display: flex;
    width: 1000px;
    height: 100%;
    margin-right: 4px;
    object-fit: contain;
    filter: drop-shadow(0 0 0.7rem rgb(155, 95, 95));
    -webkit-filter: drop-shadow(0 0 0.7rem rgb(155, 95, 95));
}

.swiper-slide-prev img {
    height: 70%;
}

.swiper-slide-next img {
    height: 70%;
}

.swiper-slide-prev {
    transform: rotate(-20deg) translateX(-60px) translateY(15px) !important;
    -webkit-transform: rotate(-20deg) translateX(-60px) translateY(15px) !important;
    -moz-transform: rotate(-20deg) translateX(-60px) translateY(15px) !important;
    -ms-transform: rotate(-20deg) translateX(-60px) translateY(15px) !important;
    -o-transform: rotate(-20deg) translateX(-60px) translateY(15px) !important;
    --tw-blur: blur(1px);
    margin-bottom: 10px;
}

.swiper-slide-next {
    margin-top: 50px;
    transform: rotate(10deg) translateX(-60px) !important;
    -webkit-transform: rotate(10deg) translateX(-60px) !important;
    -moz-transform: rotate(10deg) translateX(-60px) !important;
    -ms-transform: rotate(10deg) translateX(-60px) !important;
    -o-transform: rotate(10deg) translateX(-60px) !important;
    --tw-blur: blur(1px);
}

.swiper-slide-prev div {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.swiper-slide-next div {
    opacity: 0;
    transition: opacity 0.4s ease;
}

@media (max-width: 500px) {
    .infodivisi {
        /* w-[200px] sm:w-[500px] lg:w-[900px] */
    }

    .swiper {
        margin-right: 30% !important;
    }

    .swiper-slide img {
        width: 500px;
        height: 100%;
    }

    .swiper-slide p {
        /* margin: auto; */
    }

    .juduldivisi h1 {
        font-family: Title;
        font-size: 1rem;
    }
}

@media (min-width: 500px) {
    .swiper-slide-active {
        transform: translateX(120px) !important;
        -webkit-transform: translateX(120px) !important;
        -moz-transform: translateX(120px) !important;
        -ms-transform: translateX(120px) !important;
        -o-transform: translateX(120px) !important;
    }
}

.swiper-slide-active {
    --tw-blur: blur(0px);
    div {
        opacity: 1;
        transition: opacity 0.7s ease-in;
    }
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
    right: var(--swiper-pagination-right, 8px);
    left: 10px;
    @media (min-width: 500px) {
        margin-left: 25%;
    }
    @media (max-width: 499px) {
        /* left: 0px; */
        margin-left: 5%;
    }
    top: 50%;
    transform: translate3d(0px, -50%, 0);
}
