@media (min-width: 769px) {
    .penjelasan {
        width: 35rem;
    }
}

.pembungkuscarousel {
    height: 100vh;
    width: 100vw;
    background-image: url(../Assets/HomeBgNew.png);
    background-size: 100vw 100vh;
    padding: 0px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .pembungkuscarousel {
        background-image: url(../Assets/Homebgphone.png);
    }
}
